doctype html
html
  head
    title Remarkable demo

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css')

    script(src='../dist/remarkable.js')

    link(rel='stylesheet' href='./assets/index.css')
    script(src='./assets/index.js')

  body
    .container
      - var s = self.self.demo;
      h1 Remarkable demo

      p: a(data-toggle='collapse' href='#code-sample') Show code sample
      pre.collapse.code-sample(id='code-sample')
        code.js= s.code

      .form-inline.demo-options
        .checkbox
          label._tip(title='enable html tags in source text')
            input#html(type='checkbox')
            |  html
        .checkbox
          label._tip(title='add / to single tags (<br /> instead of <br>')
            input#xhtml(type='checkbox')
            |  xhtml
        .checkbox
          label._tip(title='newlines in paragraphs are rendered as <br>')
            input#breaks(type='checkbox')
            |  breaks
        .checkbox
          label._tip(title='enable output highlight for fenced blocks')
            input#_highlight(type='checkbox')
            |  highlight
        .form-group
          input#langprefix.form-control._tip(
            type='input'
            placeholder='language prefix'
            title='css class language prefix for fenced code blocks'
          )

    .container.full-height
      .row.full-height
        .col-xs-6.full-height
          .demo-control
            a.source-clear(href='#') clear
            a#permalink(href='./' title='Share this snippet as link'): strong permalink
          textarea.source.full-height= s.source
        section.col-xs-6.full-height
          .demo-control
            a.result-mode(href='#') html / source
          .result.full-height
          pre.result-src.full-height
            code.result-src-content.full-height

    .gh-ribbon
      a(href='https://github.com/jonschlinkert/remarkable' target='_blank') Fork me on GitHub
